.entry__link {
    margin: 15px 0 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s;
}

.entry__link:hover {
    opacity: 0.6;
}
