.card__trash-button {
    padding: 0;
    border: 0;
    width: 18px;
    aspect-ratio: 18/19;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    background-image: url('../../../images/trash-button.svg');
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s;
}

.card__trash-button:hover {
    opacity: 0.6;
}