.profile__add-button {
    margin-top: 36px;
    padding: 0;
    border: 2px solid white;
    border-radius: 2px;
    width: 88.125%;
    height: 50px;
    box-sizing: border-box;
    background: transparent url('../../../images/add-button.svg') no-repeat center / 16px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 640px) {
    .profile__add-button {
        margin-top: 0;
        width: 150px;
        background-size: 22px;
    }
}
