.header {
    margin-top: 28px;
    min-height: 56px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 907px) {
    .header {
        margin-top: 45px;
        min-height: 74px;
    }
}