.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
